global
    maxconn 10000
    log stdout format raw daemon

defaults
    mode    tcp
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

listen rabbitmq-web
    bind *:15672
    balance roundrobin
    server r1 rabbitmq1:15672 check inter 1s rise 1 fall 2
    server r2 rabbitmq2:15672 check inter 1s rise 1 fall 2 backup
    server r3 rabbitmq3:15672 check inter 1s rise 1 fall 2 backup

listen rabbitmq-amqp
    bind *:5672
    option clitcpka
    balance roundrobin
    server r1 rabbitmq1:5672 check inter 1s rise 1 fall 2
    server r2 rabbitmq2:5672 check inter 1s rise 1 fall 2
    server r3 rabbitmq3:5672 check inter 1s rise 1 fall 2
